@use 'sass:color';
@use 'sass:math';
@use 'sass:map';

@use '../components' as cw;
@use './vars';
@forward './vars';

@mixin theme($var-overrides: ()) {
  @include vars.vars($var-overrides);

  button {
    @include cw.button-theme();
  }
}

@mixin theme-overrides($overrides: ()) {
  @include cw.button-overrides($overrides);
}

$tones: (0, 10, 20, 25, 30, 35, 40, 50, 60, 70, 80, 90, 95, 98, 99, 100);

@function palette($color, $variant: light, $tones: $tones) {
  $base-tone: 40;
  @if $variant == dark {
    $base-tone: 80;
  }
  $palette: ();
  @each $tone in $tones {
    $multiplier: math.abs($base-tone - $tone);
    $tone-color: $color;
    @if $tone < $base-tone {
      $tone-color: color.scale($color, $lightness: -(math.div(100%, $base-tone)) * $multiplier);
    } @else if $tone > $base-tone {
      $tone-color: color.scale($color, $lightness: math.div(100%, (100 - $base-tone)) * $multiplier);
    }
    @debug $tone, $tone-color;
    $palette: map.set($palette, $tone, $tone-color);
  }
  @return $palette;
}

@function palette-variants($colors, $tones: ()) {
  $palettes: ();
  @each $name, $color in $colors {
    $palettes: map.set(
        $palettes,
        $name,
        (
          light: palette(map.get($color, light), light),
          dark: palette(map.get($color, dark), dark)
        )
    );
  }
  @debug $palettes;
  @return $palettes;
}

@mixin declare-palette($name, $palette) {
  @each $tone, $color in $palette {
    --cw-color-#{$name}-tone-#{$tone}: #{$color};
  }
}
