@use '@angular/material' as mat;

@use '../../app/design-system' as ds;
@use './cw-colors';

:root {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: cw-colors.$primary-palette,
      tertiary: cw-colors.$tertiary-palette
    ),
    typography: Roboto,
  ));

  @include ds.theme((
    brand-primary: #196ae3,
    brand-secondary: #414a54,
    brand-tertiary: #e9edf1
  ));

  @include ds.theme-overrides((
    filled-container-shape: 4px
  ));

  // Use high contrast light theme colors when users prefer contrast
  @media (prefers-contrast: more) {
    @include cw-colors.high-contrast-overrides(light);
  }

  // Apply dark theme when users prefer a dark color scheme
  @media (prefers-color-scheme: dark) {
    @include mat.theme((
      color: (
        primary: cw-colors.$primary-palette,
        tertiary: cw-colors.$tertiary-palette,
        theme-type: dark,
      ),
    ));

    @include ds.theme-overrides((
      filled-container-shape: 4px
    ));

    // Use high contrast dark theme colors when users prefers a dark color scheme and contrast
    @media (prefers-contrast: more) {
      @include cw-colors.high-contrast-overrides(dark);
    }
  }

  background-color: var(--mat-sys-surface);
}
