@use 'sass:map';

$vars: (
  brand-primary: red,
  brand-secondary: red,
  brand-tertiary: red,
  container-shape: 10px
);

@mixin vars($overrides: ()) {
  $vars: map.merge($vars, $overrides);
  & {
    @each $var, $val in $vars {
      --cw-#{$var}: #{$val};
    }
  }
}
