<button (click)="toggleTheme()" mat-flat-button>Primary</button>
<button mat-stroked-button>Secondary</button>
<button mat-button>Link</button>

<div class="colors">
  <div>
    <h3>Palette</h3>
    <app-color-swatch palette="primary"></app-color-swatch>
    <app-color-swatch palette="secondary"></app-color-swatch>
    <app-color-swatch palette="tertiary"></app-color-swatch>
  </div>
  <div class="brand-override">
    <h3>Brand</h3>
    <app-color-swatch palette="primary"></app-color-swatch>
    <app-color-swatch palette="secondary"></app-color-swatch>
    <app-color-swatch palette="tertiary"></app-color-swatch>
  </div>
</div>

<router-outlet />
