<h1 (click)="toggleTheme()">{{ theme }}</h1>

<section>
  <div>
    <button mat-flat-button>Flat (Primary, filled)</button>
    <button mat-stroked-button>Stroked (Secondary, outlined)</button>
    <button mat-button>Basic (Link, text)</button>
  </div>
  <div>
    <button mat-raised-button>Raised (protected)</button>
  </div>
</section>

<section>
  <div>
    <h3>Palette</h3>
    <app-color-swatch palette="primary"></app-color-swatch>
    <app-color-swatch palette="secondary"></app-color-swatch>
    <app-color-swatch palette="tertiary"></app-color-swatch>
  </div>
  <div class="brand-override">
    <h3>Brand</h3>
    <app-color-swatch palette="primary"></app-color-swatch>
    <app-color-swatch palette="secondary"></app-color-swatch>
    <app-color-swatch palette="tertiary"></app-color-swatch>
  </div>
</section>

<router-outlet />
