@use '@angular/material' as mat;

:host {
  display: block;
  padding: 2em;
  color: var(--mat-sys-on-surface);
}

.brand-override {
  @include mat.theme-overrides((
    primary: var(--cw-brand-primary),
    on-primary: var(--cw-on-brand-primary),
    secondary: var(--cw-brand-secondary),
    on-secondary: var(--cw-on-brand-secondary),
    tertiary: var(--cw-brand-tertiary),
    on-tertiary: var(--cw-on-brand-tertiary),
  ));
}

section {
  display: flex;
  margin: 0 0 2em;

  &.gap, & > div.gap {
    gap: 1em;
  }

  > div {
    display: flex;
    flex-direction: column;

    > h3 {
      text-align: center;
    }
  }
}
