@use '@angular/material' as mat;

.brand-override {
  @include mat.theme-overrides((
    primary: var(--cw-brand-primary),
    secondary: var(--cw-brand-secondary),
    tertiary: var(--cw-brand-tertiary)
  ));
}

.colors {
  display: flex;
}
