@use 'sass:map';
@use '@angular/material' as mat;

@mixin button-overrides($overrides: (), $brand: false) {
  $brand-primary: var(--cw-button-brand-primary, var(--cw-brand-primary));
  $on-brand-primary: var(--cw-button-on-brand-primary, var(--cw-on-brand-primary));

  $default-overrides: (
    container-shape: var(--cw-button-container-shape, var(--cw-container-shape)),
    label-text-transform: var(--cw-button-label-text-transform, var(--cw-label-text-transform)),
    outlined-outline-width: var(--cw-button-outline-width, var(--cw-outline-width))
  );

  $brand-overrides: (
    filled-container-color: $brand-primary,
    filled-label-text-color: $on-brand-primary,
    outlined-label-text-color: $brand-primary,
    outlined-outline-color: $brand-primary,
    protected-label-text-color: $brand-primary,
    text-label-text-color: $brand-primary
  );

  @if $brand {
    $overrides: map.merge($brand-overrides, $overrides);
  }

  @include mat.button-overrides(map.merge($default-overrides, $overrides));
}
