@use 'sass:map';
@use '@angular/material' as mat;

@mixin button-overrides($button-overrides: ()) {
  $default-overrides: (
    filled-container-shape: var(--cw-container-shape),
    outlined-container-shape: var(--cw-container-shape),
    protected-container-shape: var(--cw-container-shape),
    text-container-shape: var(--cw-container-shape)
  );
  @include mat.button-overrides(map.merge($default-overrides, $button-overrides));
}
