@use '@angular/material' as mat;

@use '../../app/design-system' as ds;
@use './volvo-colors';

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: volvo-colors.$primary-palette,
      tertiary: volvo-colors.$tertiary-palette,
    ),
    typography: Roboto,
  ));

  @include ds.theme((
    brand-primary: #284e80,
    brand-secondary: #2875C3,
    brand-tertiary: #161618,
  ));

  @include ds.theme-overrides();

  // Use high contrast light theme colors when users prefer contrast
  @media (prefers-contrast: more) {
    @include volvo-colors.high-contrast-overrides(light);
  }

  //// Apply dark theme when users prefer a dark color scheme
  //@media (prefers-color-scheme: dark) {
  //  @include mat.theme((
  //    color: (
  //      primary: volvo-colors.$primary-palette,
  //      tertiary: volvo-colors.$tertiary-palette,
  //      theme-type: dark,
  //    ),
  //  ));
  //
  //  // Use high contrast dark theme colors when users prefers a dark color scheme and contrast
  //  @media (prefers-contrast: more) {
  //    @include volvo-colors.high-contrast-overrides(dark);
  //  }
  //}

  body {
    background-color: var(--mat-sys-surface);
  }
}
